@import "../PQ/pq.css";




#contact-form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 25px; 
    
    width: 100%; 
    max-width: 500px;
    margin-left: auto; 
    margin-right: auto
}

#contact-form input,
#contact-form textarea {
    padding: 12px 15px; 
    border-radius: 8px; 
    border: 1px solid #333; 

    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem; 
    font-family: inherit;
    transition: border-color 0.3s ease; 
}